# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
.venv/

# System Files
.DS_Store
Thumbs.db

# IDE/Editor Files
.idea/
.vscode/

# Logs
*.log
*.sqlite3

# Package Manager Files
Pipfile.lock
*.egg-info
dist/
build/
